<%= form_with(model: [:dashboard, restaurant], local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input", placeholder: "店名を入力してください" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :address, class: "label"  %>
    <div class="control">
      <%= form.text_field :address, class: "input", placeholder: "住所を入力してください" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tel, class: "label"  %>
    <div class="control">
      <%= form.text_field :tel, class: "input", placeholder: "電話番号を入力してください" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content, class: "label"  %>
    <div class="control">
      <%= form.text_area :content, class: "textarea", placeholder: "メニューなどを入力してください" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :lat, class: "label"  %>
    <div class="control">
      <%= form.text_field :lat, class: "input", placeholder: "緯度を入力してください" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :lng, class: "label"  %>
    <div class="control">
      <%= form.text_field :lng, class: "input", placeholder: "経度を入力してください" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-primary" %>
  </div>
<% end %>
